html{
	background-color: white;
	overflow-x: hidden;

}
body {
	background-color: snow;
	font-family: 'Josefin Slab', sans-serif;
	color: #3b3b3b;
	overflow-x: hidden;
}
#main-nav {
	/*width: 100%;*/
	background-color: #3b3b3b;
}
.img-circle {
    border-radius: 50%;
}

.pic-circle {
	max-height: 350px;
	width: auto;
	border-radius: 50%;
}
#name {
	font-size: 151%;
	color: lightblue;
}

#navbar{
	background-color: transparent;
	height: 50px;
}
#navbar ul{
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0px 0px;
}

#navbar li{
	float: right;
}

#skills p{
	text-align: left;
}

#navbar a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 125%;
}

#navbar a:hover {
    color: lightblue;
}

#About{
}
#About h1{
	margin-bottom:5;
	margin-top: 5;
	padding:0;
	font-size: 250%;
	text-align: center;
}

#About p{
	font-size: 150%;
}

#About text{
	text-align: left;
	font-size: 100%;
}
#About h4{
	display: inline;
}

#pics{
	text-align: center;
}

#main-home{
	line-height: 500px;
	background-image: url("/Users/prakash/Documents/Website/images/bhg1.jpg");
	height:700px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 0;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-home h1{
	/*background: linear-gradient(grey,red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color: lightblue;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 500%;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
}

#main-home p{
	font-size: 125%;
	text-align: center;
	top: 50%;
	transform: translateY(+5%);
    -webkit-transform: translateY(+5%);
    -ms-transform: translateY(+5%);

}
#Projects {
	text-align: center;
}

#Projects h1{
	text-align: center;
}

i.fa.fa-github{
	font-size:32px;
	color: grey;
}
i.fa.fa-github:hover{
	color: lightblue;
}

i.fa.fa-linkedin{
	font-size:32px;
	color: grey;
}
i.fa.fa-linkedin:hover{
	color: lightblue;
}
i.fa.fa-envelope{
	font-size:32px;
	color: grey;
}
i.fa.fa-envelope:hover{
	color: lightblue;
}
i.fa.fa-facebook{
	font-size:32px;
	color: grey;
}
i.fa.fa-facebook:hover{
	color: lightblue;
}

i.fa.fa-youtube{
	font-size:32px;
	color: grey;
}
i.fa.fa-youtube:hover{
	color: lightblue;
}
i.fa.fa-file{
	font-size:32px;
	color: grey;
}
i.fa.fa-file:hover{
	color: lightblue;
}



.ios {
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
}

.ios:hover {
	background: linear-gradient(to top, #3b3b3b, #3b3b3b);
	transition: .25s all ease-in;
}

.education {
	min-width: 170px;
	min-height: 180px;
	max-width: 170px;
	max-height: 180px;
	border: 5px solid;
	margin: 0 7px 0 0;
}

#links{
	background-color: transparent;
	width: 500px;
	text-align: center;
	padding-top: 5px;
}
#links ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#overlay    {  background:lightblue;
               text-align:center;
               max-width: 160px;
               max-height: 170px;
               min-width: 160px;
               min-height: 170px;
               opacity:0;
               padding-top:10px;
               -webkit-transition: opacity .25s ease;
}


#uf{
	background: url('/Users/prakash/Documents/Website/images/uflogo.png');
	background-position: center;
	background-size:160px 170px;
	min-width: 170px;
	min-height: 180px;
	max-width: 170px;
	max-height: 180px;
	border: 5px solid;
	margin: 0 7px 0 0;
	display: inline-block;
	vertical-align: top;
}

#ib{
	background: url('/Users/prakash/Documents/Website/images/ib.png');
	background-position: center;
	background-size:160px 170px;
	min-width: 170px;
	min-height: 180px;
	max-width: 170px;
	max-height: 180px;
	border: 5px solid;
	margin: 0 7px 0 0;
	display: inline-block;
	vertical-align: top;
}

#stanton{
	background: url('/Users/prakash/Documents/Website/images/stanton.jpg');
	background-position: center;
	background-size:160px 170px;
	min-width: 170px;
	min-height: 180px;
	max-width: 170px;
	max-height: 180px;
	border: 5px solid;
	margin: 0 7px 0 0;
	display: inline-block;
	vertical-align: top;
}

#uf:hover #overlay {
    opacity:1;
}

#ib:hover #overlay {
    opacity:1;
}

#stanton:hover #overlay {
    opacity:1;
}

#uf text{
	line-height: 25px;
}
#ib text{
	line-height: 25px;
}
#stanton text{
	line-height: 25px;
}

#project-overlay    {  background:lightblue;
               text-align:center;
               min-width: 176.5px;
			   min-height: 323.5px;
			   max-width: 176.5px;
			   max-height: 323.5px;
               opacity:0;
               padding-top:10px;
               -webkit-transition: opacity .25s ease;
}


#finder{
	background: url('/Users/prakash/Documents/Website/images/FinderLogo.png');
	background-position: center;
	background-size:176.5px 323.5px;
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
}

#yelpit{
	background: url('/Users/prakash/Documents/Website/images/Yelp-0.png');
	background-position: center;
	background-size:176.5px 323.5px;
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
}

#githubrepo{
	background: url('/Users/prakash/Documents/Website/images/repo-5.png');
	background-position: center;
	background-size:176.5px 323.5px;
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
}

#movieflicks{
	background: url('/Users/prakash/Documents/Website/images/Flicks2-3.png');
	background-position: center;
	background-size:176.5px 323.5px;
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
}

#tipper{
	background: url('/Users/prakash/Documents/Website/images/clip-0.png');
	background-position: center;
	background-size:176.5px 323.5px;
	min-width: 186.5px;
	min-height: 333.5px;
	max-width: 186.5px;
	max-height: 333.5px;
	border: 5px solid;
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
}

#finder:hover #project-overlay {
    opacity:1;
}

#tipper:hover #project-overlay {
    opacity:1;
}

#movieflicks:hover #project-overlay {
    opacity:1;
}

#yelpit:hover #project-overlay {
    opacity:1;
}

#githubrepo:hover #project-overlay {
    opacity:1;
}

#Contact{
 	height: 100px;
 	background-color: #3b3b3b;
 	text-align: center;
 	overflow: hidden;
 }

 #Contact text{
 	color: lightblue;
 	display: inline block;
 	-webkit-padding-start: 40px;
 }

 #sites{
	background-color: transparent;
	height: 38px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	/*padding-top: 35px;*/
	display: inline-block;
	text-align: center;
}
#sites ul{
    /*list-style-type: none;
    overflow: hidden;
    display: flex;
    margin-bottom: 0;
    padding: 0px 0px;*/
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
